secrets.yaml
known_devices.yaml
tts/
deps/
*.db
*.db-*
*.json
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.log
*.pickle
*.swp
.uuid
OZW_Log.txt
pyozw.sqlite
openzwave-config/
.storage/
.cloud/
custom_components/hacs/