homeassistant:
  name: Home
  latitude: !secret lat
  longitude: !secret lon
  elevation: 73
  unit_system: metric
  time_zone: Australia/Melbourne
  customize: !include customize.yaml
  packages: !include_dir_named packages/

frontend:
  javascript_version: latest

config:

# NOTE: Using nginx to front this
# https://home-assistant.io/docs/ecosystem/nginx/
http:
  api_password: !secret http_password

updater:

discovery:

conversation:

history:

recorder:
  purge_interval: 1
  purge_keep_days: 7

logbook: !include_dir_merge_named logbook/

logger:
  default: warn
#  logs:
#    homeassistant.components.xiaomi_aqara: debug
#    homeassistant.components.sensor.dyson: debug
#    homeassistant.components.fan.dyson: debug
#    homeassistant.components.dyson: debug

sun:

tts:
  - platform: google

ifttt:
  key: !secret ifttt_api

mqtt:
  broker: !secret mqtt_broker
  port: !secret mqtt_port
  client_id: home-assistant-1
  username: !secret mqtt_username
  password: !secret mqtt_pwd

emulated_hue:
  type: alexa
#  host_ip: 192.168.1.10
  listen_port: 5000
#  advertise_ip: 192.168.1.10
#  advertise_port: 80
  expose_by_default: true
  exposed_domains:
    - light

device_tracker:
  - platform: owntracks

ring:
  username: !secret ring_user
  password: !secret ring_pwd

zwave:
  new_entity_ids: true
  usb_path: /dev/ttyACM0
  config_path: /home/homeassistant/.homeassistant/openzwave-config 
  device_config: !include zwave_device_config.yaml

sensor: !include_dir_list sensors/
zone: !include_dir_list zones/
group: !include groups.yaml

script: !include scripts.yaml
automation: !include automations.yaml

dyson:
  username: !secret dyson_user
  password: !secret dyson_pwd
  language: AU
  devices:
    - device_id: PT7-AU-JAA0100A
      device_ip: 192.168.1.198

fan:
  - platform: dyson

ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

downloader:
  download_dir: /mnt/elements/downloads

camera:
  - platform: ring
    name: Ring Video Doorbell
  - platform: ffmpeg
    name: Front Door Camera
    input: /mnt/elements/downloads/latest.mp4
  - platform: mjpeg
    name: Livingroom Camera
    mjpeg_url: http://127.0.0.1:8086/mjpeg

xiaomi_aqara:
  discovery_retry: 5
  gateways:
    - key: !secret xiaomi_key

alarm_control_panel:
  - platform: manual
    name: Home Alarm
    code: 1234
